// html,body{
//     overflow-x: hidden;
// }

:root {
    scroll-padding-top: 7rem;
}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}



a {
    text-decoration: none !important;
    color: #fff !important;
}

// a:hover {
//     color: #466575;
// }

.bro_R{
    border-radius: 15px;
}

.Ttl,.B_ttl {
    font-family: 'Noto Sans TC', sans-serif;
    color: #4a525d;
    margin: 5px;
}

.mrT {
    margin-top: 60px;

    @media screen and (max-width: 576px) {
        margin-top: 30px;
    }
}
.Wd{
    width: 940px;

    @media screen and (max-width: 576px) {
        width: unset;
    }
}

p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 350;
}

h2 {
    margin: 0;
}

.fw_b {
    color: #617984;
    font-weight: bold;
}

.jan{
    color:#b2005c;
}

.shuaH img{
    cursor: pointer;
}


@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Noto+Sans+TC:wght@100&display=swap');

.sm_ttl,
.abM,
.shuaH,
.abm_ttl h2,
#moreBtn,.tab_title{
font-family: 'Hedvig Letters Serif', serif;
}

.con_ttl p,
.sm_con,
.Ttl {
    font-weight: 300;
}

.B_ttl{
    font-size: 18px;
    color: rgb(74, 82, 93);
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 1.5px;
}






.wrapper {
    min-height: 100%;
    position: relative;

    #header {
        background-color: #7899a9;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .header {
        display: flex;
        justify-content: space-between;

        .shuaH {
            width: 50px;

            img {
                margin: 10px;
                width: 100%;
                @media screen and (max-width: 768px) {
                    width: 70%;
            }
                @media screen and (max-width: 576px) {
                width: 50%;
            }
            }

        }

        .header_btn {
            height: max-content;
        }

        ul.nav_header {
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: end;
            margin-bottom: 0;
            margin-right: 20px;
        }

        .abM,
        .shuaH {
            margin-right: 10px;
            font-size: 18px;
            color: #fff !important;
        }
    }

}

.hea_bg2{
    position: relative;
    height: 28vw;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    z-index: -1;
}
.hea_bg{
    background-image: url(../img/bg.webp);
}
.hea_titt{
    position: absolute;
    top: 50%;
    transform: translateY(-65%);
    left: 5%;
    width: 45%;
}
// 頁籤
.btn_tab{
  display: flex;
  justify-content: center;  
  width: 100%;
  margin: 20px 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  @media screen and (max-width: 425px) {
    font-size: 14px;
}
//   ul{
//     // color: blueviolet;
//     &:focus,
//     &:hover {color: red;}
//     &:active {color: red;}
//   }
    li {
    display: inline-block;
    line-height: 45px;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: #466575;
    cursor: pointer;
    // &:hover{
    //     color: #f29001;
    // }
  }
}

// ul.tab_title {
//     padding: 0;
//     margin: 0;
//     color: #466575;
//     transition: background-color 0.3s ease;    
// }

.btn_tab:hover {
    color:#F29901;
  }
  
.btn_tab.clicked {
    color:#F29901;
  }
// test
.tab_panel {
    display: none;
    
  }
.tab_panel.active {
    display: block;
  }

.tab_title {
color: #466575;
border: none;
background-color: transparent;
}

.tab_title:hover {
color: #f29001;
}

.tab_title.clicked {
color: #f29001;
}
// test end

// 跳窗
.btn_close{
    position: absolute;
    font-size: 30px;
    top: -35px;
    right: -30px;
    color: #fff;
    a:hover{
        color: #fff !important;
    }
}

// 跳窗end

.nav_link {
    text-decoration: none !important;
    color: #fff;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.nav_link::after {
    position: absolute;
    display: inline-block;
    background-color: #466575;
    width: 100%;
    left: -100%;
    height: 3px;
    bottom: 0;
    content: '';
    transition: .2s;
}


.nav_link:hover::after {
    left: 0%;
}

.content:nth-child(n+7) {
    display: none;
}




#moreBtn {
    width: 150px;
    color: #ffffff;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid transparent;
    background-color: #809ba9;
    transition: .3s;

    &:hover {
        color: #ffffff;
        background-color: #617984;
        border: 1px solid #617984;
        text-decoration: none;
    }
}

.con_ttl {
    margin-bottom: 50px;

    p {
        color: #4a525d;
        font-size: 2rem;
        margin: unset;
    }

    span {
        display: block;
        color: #8e99a8;
        font-size: 1rem;
        font-weight: 400;
    }

    @media screen and (max-width: 576px) {
        margin-bottom: 20px;

        p {
            font-size: 26px;
        }

        span {
            font-size: 14px;
        }
    }

}



.lik_btn {
    display: block;
    text-align: center;
    background: #7f9ba9;
    color: #fff !important;
    width: 60%;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;

    // a:hover {
    //     color: #fff !important;
    // }
}

.idxshua{
    margin-left: 20px;
}


.sm_ttl {
    margin: unset;
    line-height: 34px;
    color: #8e99a8;
    font-size: 14px;

    @media screen and (max-width: 576px) {
        font-size: 16px;
    }
}

.sm_con {
    font-size: 16px;
    text-align: justify;
    color: #5c5a5a;

    @media screen and (max-width: 576px) {
        font-size: 18px;
    }
}
.prj_FZ{
    font-size: 18px;
    color: #5c5a5a;
    margin: 30px 0 0 0;

    @media screen and (max-width: 576px) {
        font-size: 18px;
    }
 
}

.rwdd {
    display: flex;
    flex-flow: column-reverse;
}

.abm_img {
    max-width: 130px;
    max-height: 130px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    flex: 1 0 0%;
}

.abm_ttl {
    color: #757e8b;
    font-size: 16px;

    h2 {
        color: #617894;
        font-size: 12px;
        font-weight: bold;
    }

    .about_osf {
        text-align: justify;
    }
}

ol,
li {
    padding-left: 1em;
}

footer {
    background-color: #809ba9;
    color: #fff;
    // position: fixed;
    width: 100%;
    // margin-top: 40px;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;

    p {
        font-size: 12px;
        margin: 0 auto;
    }

    @media screen and (max-width: 576px) {
        p {
            font-size: 8px;
        }
    }
}



// 等比圖
// .focuspoint{
//     position: relative;
//     overflow: hidden;
//     height: 200px;
//     top: 0;
//     width: 100%;
//     margin-bottom: 15px;
//     left: 0;
// }

// .focuspoint img{
//     position: absolute;
//     left: 0;
//     top: 0;
//     margin: 0;
//     display: block;
//     width: auto;
//     height: auto;
//     min-width: 100%;
//     min-height: 100%;
//     max-height: none;
//     max-width: none;

//     top: 0px;
//     left: -11.6564%;
//     max-height: 100%;
// }




// .tab_panel {
//     display: none;
//   }
//   .tab_panel.active {
//     display: block;
//   }
  
//   .tab_title {
//     // background-color: blue;
//     color: #466575;
   
//     padding: 10px 20px;
//     font-size: 16px;
//     cursor: pointer;
//     transition: background-color 0.3s ease;
//   }
  
//   .tab_title:hover {
//     color: #466575;
//   }
  
//   .tab_title.clicked {
//     color: #f29001;
//   }
 
.modal-dialog{
    max-width: 900px;
    @media screen and (max-width: 768px) {
        max-width: 500px;
    }
}


// .container_box{
//   width: 100%;
//   line-height: 12.5;
//   display: grid;
//   grid-auto-flow: dense;
//   grid-template:
//     "1fr 1fr 1fr 1fr " 33.33vh
//     "1fr 1fr 1fr 1fr " 33.33vh
//     "1fr 1fr 1fr 1fr " 33.33vh;
// }

// .container_box .box {
//     position: relative;
//     background: #ccc;
//     margin:5px;
//   }
//   .container_box .box.a,
// .g,
// .k{
//     grid-column: span 3;
// }

//   .container_box .box.d{
//     grid-column: span 3;
//     grid-row: span 2;
//   }
//   .container_box .box.e,
//   .f,
//   .h,
//   .w {
//     grid-column: span 2;
//     grid-row: span 1;
//   }

// .container_box .box.c,
// .b{
//     grid-column: span 1;
//   }
  
// .container_box .box.l,
// .s,
// .x {
//     grid-column: span 5;
// }   

// .container_box .box.r{
//     grid-column: span 5;
//     grid-row: span 2;
// }
 

//   .container_box .box img {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height:100%;
//     object-fit: cover;
//     // max-width: 100%;
//   }

// .container_box{
//     @media screen and (max-width: 991px){
//         grid-template:
//         "1fr 1fr 1fr" 250px
//         "1fr 1fr 1fr" 250px
//         "1fr 1fr 1fr" 250px
//         "1fr 1fr 1fr" 250px
//         "1fr 1fr 1fr" 250px;
//     }
// }  

// .container_box{
//     @media screen and (max-width:768px){
//         grid-template:
//         "1fr 1fr" 200px
//         "1fr 1fr" 200px
//         "1fr 1fr" 200px
//         "1fr 1fr" 200px
//         "1fr 1fr" 200px
//         "1fr 1fr" 200px
//         "1fr 1fr" 200px;
//     }
// }  


.container_box {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template:
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh
      "1fr 1fr 1fr 1fr 1fr" 33.33vh;
      @media (max-width: 991px) {
        grid-auto-flow:row;
        // grid-template-columns:200px 200px 200px !important;
      }
  }

  .container_box .box {
    position: relative;
    margin: 5px;
  }

  .container_box .box.a,
  .container_box .box.g
 {
    grid-column: span 3;
    @media (max-width: 991px) {
    grid-column: span 5;
    }
  }

  .container_box .box.k{
    grid-column: span 3;
    // @media (max-width: 991px) {
    //     grid-column: span 3;
    // }
  }
  .container_box .box.w{
    grid-column: span 2;
    @media (max-width: 991px) {
        grid-column: span 2;
    }
  }

  .container_box .box.b,
  .container_box .box.c,
  .container_box .box.i,
  .container_box .box.j,
  .container_box .box.m,
  .container_box .box.n,
  .container_box .box.o,
  .container_box .box.p,
  .container_box .box.q,
  .container_box .box.t,
  .container_box .box.u,
  .container_box .box.v {
    grid-column: span 1;
    @media (max-width: 991px) {
        grid-column: span 1;  

    }
  }

  .container_box .box.m,
  .container_box .box.n,
  .container_box .box.o,
  .container_box .box.p,
  .container_box .box.q,
  .container_box .box.t,
  .container_box .box.u,
  .container_box .box.v
{
    @media (max-width: 991px) {
    line-height: 10;
    }
  }

  .container_box .box.d {
    grid-column: span 3;
    grid-row: span 2;
    @media (max-width: 991px) {
        grid-column: span 3;
        grid-row: span 1;
    }
  }

  .container_box .box.e,
  .container_box .box.f,
  .container_box .box.h
{
    grid-column: span 2;
    @media (max-width: 991px) {
        grid-column: span 5;
    }

  
  }

  .container_box .box.l,
  .container_box .box.x,
  .container_box .box.r,
  .container_box .box.s {
    grid-column: span 5;
    @media (max-width: 991px) {
        grid-column: span 5;
        line-height: 12.5;
    }
} 
  .container_box .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }




.prjbtn{
    background-color: #7f9ba9;
    color:#fff !important;
    border: 3px solid #7f9ba9;
    border-radius: 35px;
    margin: 40px 0;
    font-size: 18px;
    width: 10%;
    text-align: center;
    float: right;

}


